@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  background-color: #a4a4c8;
}

.glitter {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e0e0e0; /* Lighter grey color */
  border-radius: 50%;
  box-shadow: 0 0 10px #e0e0e0, 0 0 20px #e0e0e0, 0 0 30px #e0e0e0;
  pointer-events: none;
  opacity: 0;
  animation: glitter 1s linear infinite;
}

@keyframes glitter {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
